@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Fredoka+One&family=Sen&display=swap');

body{
   background-color: #E7DED0;
   color: #310E3A;
  font-family: 'Fredoka One', cursive;
}
p{
	
	font-family: 'Sen', sans-serif;
}
h2{
	
	font-family: 'Sen', sans-serif;
}

h5{
	
	font-family: 'Sen', sans-serif;
}
h6{
	
	font-family: 'Sen', sans-serif;
}
.main-div{
    display: grid;
    grid-template-columns: 17% 83%;
  
    width: 90%;
    margin: auto;
   margin-top: 50px;
   border-radius: 0 35px 35px 0;
 
}
.left-div{
background-color: rgb(255, 255, 255);
height:80vh;
padding-top: 70px;
border-radius: 35px 0 0 35px;


}


.inner-left-div{
    text-align: center;
    border-right: 2px solid #E7DED0;
}
.logo-img{
    width: 25px;
}
.inner-left-div > h1{
    display: inline;
    font-size: 26px;
}
.hero-left-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 100px;
}
.middle-div{
    background-color: rgb(255, 255, 255);
    height:80vh;
    padding-top: 70px;
    border-radius: 0 35px 35px 0;
}
.right-div{
    background-color: #FBF5EE;
    height:80vh;
    padding-top: 70px;
    border-radius: 0 35px 35px 0;
  
    
}
.ron{
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: #FBF5EE;
    border-radius: 0 35px 35px 0;
}
.menu-left-div{
    display: flex;
    justify-content: flex-start;
    padding-left: 75px;
}
.menu-left-div>i{
   margin-top: 25px;
}
.menu-left-div>h2{
    margin-left: 15px;
	font-size:16px;
	margin-top:25px;
 }
 .menu-left-div>h2:hover{
    cursor: pointer;
 }
  .menu-left-div>i:hover{
    cursor: pointer;
 }
 .menu-left{
     margin-top: 50px;
     padding-bottom: 50px;
 }
 .mid-top-bar{
     display: flex;
    justify-content:space-between ; 
 }
 .mid-search-div{
width: 50px;
height: 50px;
background-color: #F4F4F5;

 }
 .myButton1 {
	background-color:#101322;
	border-radius:7px;
	border:1px solid #404040;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;

	font-size:17px;
	padding:4px 31px;
	text-decoration:none;
    white-space: nowrap; 
    text-overflow: ellipsis;
    height: 100%;

	
}
.mid-right-top-search-div {
    display: flex;
   
}
.css-input {
  
    background-color: rgba(0,0,0,0.0);
    border-width: 0px;
    color: white;
    margin-left: 15%;
    position: relative;
   bottom: 20px;
  font-family: 'Sen', sans-serif;
    
   }
   .css-input:focus {
       outline:none;
   }
   .css-input::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
   .inputDiv {
    font-size: 16px;
    border-width: 0px;
    padding: 10px;
    background-color: #101322;
    color: #ffffff;
    display: inline-block;
    border-radius: 12px;
    width: 20%;
    height: 10px;
    margin-top: 39px;
    margin-right: 10px;
    margin-left: 40%;
}

.middle-middle-div{
    width:85%;
    margin: auto;
   
}
.middle-middle-div{
    width:85%;
    margin: auto;
   
}
.project-mid-div{
    margin-top: 20px;
width: 300px;
white-space: nowrap; 
}
.project-mid-div>h1{
    font-size: 26px;
    margin-bottom: 0;
	display:inline-block;
}
.project-mid-div>i{
    margin-left:10px;
}
.project-mid-div>i:hover{
    cursor:pointer;
}
.project-mid-div>h5{
    color: #9f9f9f;
    margin-top: 5px;
    

}
.middle-boxes{
    display: flex;
    overflow-x: hidden;
   
    width: 2500px;
}
.box{
    width:300px;
    height: 170px;
    border-radius: 20px;
    background-color: #310E3A;
    margin-left: 20px;
	font-family: 'Sen', sans-serif;
   

}
.box > div{
	padding-top:30px;
 color:white;
 width:80%;
 margin:auto;
   

}
.box:hover{
cursor:pointer;
   

}
.form{
    position: relative;
	bottom:6px;
}
.middle-bottom-div{
	margin-top:25px;

	height:400px;
	display:grid;
	grid-template-columns: 50% 50%;
}
.middle-bottom-div>div>p{
	width:90%;
}
.zz{
	width:90%;
	height:70px;
background-color: white;
	margin-top:10px;
		-webkit-box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.1); 
box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.1);
border-radius:10px;
display:flex;
    justify-content: space-evenly;
}



.zz-1{
	
	padding:10px;
	border-radius:5px;
}
.zz-2{
	
	padding:10px;
	border-radius:5px;
}
.zz-3{
	
	padding:10px;
	border-radius:5px;
}

.xx{
	margin-top:25px;
	display:grid;
	  grid-template-columns: auto auto auto;
	}
.xx>div{
	width:120px;
	height:80px;
	    background-color: white;
	margin:5px;
	border-radius:10px;
	color: #310E3A;
	-webkit-box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.2); 
box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.2);
}	
.xx{
width:100px;
}
.xx>div>i{
	margin-top:25px;
	margin-left:30px;
	
}	
.xx>div>h6{
	margin-top:10px;
	margin-left:30px;
}
.xx>div>i:hover{
cursor:pointer;
	
}	
.right-top-div{
	width:90%;
	margin:auto;
	height:700px;
	overflow-y:scroll;
	
}
.right-top-div::-webkit-scrollbar {
  display: none;
}
.right-top-div-1{
	
	margin-top:36px;
	
}
.note{
	
	width:70%;
	margin:auto;
	background-color:yellow;
	border-radius:5px 15px 5px 5px;
	background-color:white;
		padding:15px ;
			-webkit-box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.2); 
box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.2);
margin-top:25px;

}
.note>div{
	background-color:red;
	width:10px;
	height:10px;
	border-radius:50%;
	/* display:inline-block; */
	float:right;
	margin-top:5px;
	
	
}
.note > h6{
	display:inline-block;
	font-size:14px;
	margin:0;

}
.note>h5{
	color:gray;
	font-size:12px; 
	
}
.note>div:hover{
	
	cursor:pointer;
}
#folder-name{
    visibility: hidden;
    margin-top: 50px;
    margin-left: 25px;
    font-size: 16px;
}
.xx-x{
    display: none;
}
	